body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000; /* Fond noir comme dans la vidéo */
}

#webcam {
  position: absolute;
  width: auto;
  height: auto;
  visibility: hidden; /* On cache l'élément vidéo brut */
}

#output_canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#hand_canvas { pointer-events: none; z-index: 10; } /* Par-dessus la 3D */